body {
  background-color: burlywood;
}

header {
  font-family: cursive;
  text-align: center;
}

h1 {
  margin: 17px;
  font-weight: bold;
}

p {
  margin: 0;
  font-family: fantasy;
  font-size: 20px;
}

#chess-game-container {
  position: relative;
  top: 20px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  margin: auto;
  grid-template-areas:
    "a8 b8 c8 d8 e8 f8 g8 h8"
    "a7 b7 c7 d7 e7 f7 g7 h7"
    "a6 b6 c6 d6 e6 f6 g6 h6"
    "a5 b5 c5 d5 e5 f5 g5 h5"
    "a4 b4 c4 d4 e4 f4 g4 h4"
    "a3 b3 c3 d3 e3 f3 g3 h3"
    "a2 b2 c2 d2 e2 f2 g2 h2"
    "a1 b1 c1 d1 e1 f1 g1 h1";
}

#number-list {
  height: 515px;
  position: absolute;
  left: 697px;
  bottom: 359px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#alphabet-list {
  width: 529px;
  position: absolute;
  top: 585px;
  left: 697px;
  margin: auto;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#a4 {
  grid-area: a4;
}

#a5 {
  grid-area: a5;
}

#a6 {
  grid-area: a6;
}

#a7 {
  grid-area: a7;
}

#a8 {
  grid-area: a8;
}

#b1 {
  grid-area: b1;
}

#b2 {
  grid-area: b2;
}

#b3 {
  grid-area: b3;
}

#b4 {
  grid-area: b4;
}

#b5 {
  grid-area: b5;
}

#b6 {
  grid-area: b6;
}

#b7 {
  grid-area: b7;
}

#b8 {
  grid-area: b8;
}

#c1 {
  grid-area: c1;
}

#c2 {
  grid-area: c2;
}

#c3 {
  grid-area: c3;
}

#c4 {
  grid-area: c4;
}

#c5 {
  grid-area: c5;
}

#c6 {
  grid-area: c6;
}

#c7 {
  grid-area: c7;
}

#c8 {
  grid-area: c8;
}

#d1 {
  grid-area: d1;
}

#d2 {
  grid-area: d2;
}

#d3 {
  grid-area: d3;
}

#d4 {
  grid-area: d4;
}

#d5 {
  grid-area: d5;
}

#d6 {
  grid-area: d6;
}

#d7 {
  grid-area: d7;
}

#d8 {
  grid-area: d8;
}

#e1 {
  grid-area: e1;
}

#e2 {
  grid-area: e2;
}

#e3 {
  grid-area: e3;
}

#e4 {
  grid-area: e4;
}

#e5 {
  grid-area: e5;
}

#e6 {
  grid-area: e6;
}

#e7 {
  grid-area: e7;
}

#e8 {
  grid-area: e8;
}

#f1 {
  grid-area: f1;
}

#f2 {
  grid-area: f2;
}

#f3 {
  grid-area: f3;
}

#f4 {
  grid-area: f4;
}

#f5 {
  grid-area: f5;
}

#f6 {
  grid-area: f6;
}

#f7 {
  grid-area: f7;
}

#f8 {
  grid-area: f8;
}

#g1 {
  grid-area: g1;
}

#g2 {
  grid-area: g2;
}

#g3 {
  grid-area: g3;
}

#g4 {
  grid-area: g4;
}

#g5 {
  grid-area: g5;
}

#g6 {
  grid-area: g6;
}

#g7 {
  grid-area: g7;
}

#g8 {
  grid-area: g8;
}

#h1 {
  grid-area: h1;
}

#h2 {
  grid-area: h2;
}

#h3 {
  grid-area: h3;
}

#h4 {
  grid-area: h4;
}

#h5 {
  grid-area: h5;
}

#h6 {
  grid-area: h6;
}

#h7 {
  grid-area: h7;
}

#h8 {
  grid-area: h8;
}

.border {
  border: 1px solid black;
}

.wood-background {
  background-image: url(https://www.chessusa.com/mm5/graphics/00000001/wal.jpg);
  background-repeat: no-repeat;
}

.light-wood-background {
  background-image: url(https://www.chessusa.com/mm5/graphics/00000001/erable.jpg);
  background-repeat: no-repeat;
}

.resize {
  width: 50px;
  position: relative;
  left: 3px;
  top: 1px;
}

.highlight {
  background-color: skyblue;
  opacity: 0.5;
}

.red-highlight {
  background: lightcoral;
  opacity: 0.9;
}
